<ng-container *ngIf="{
      settings               : settings$               | async,
      table                  : table$                  | async,
      indiceSliced           : indiceSliced$           | async,
      tableSlicedTransformed : tableSlicedTransformed$ | async,
      itemsPerPage           : itemsPerPage$           | async,
      pageNumber             : pageNumber$             | async,
      headerValuesAll        : headerValuesAll$        | async,
      tableFilteredRowSize   : tableFilteredRowSize$   | async,
      selectorOptionsAll     : selectorOptionsAll$     | async,
      indiceFiltered         : indiceFiltered$         | async,
      tableFiltered          : tableFiltered$          | async
    } as data">

  <app-waiting-spinner
    [waiting]="!data.table || !data.tableSlicedTransformed">
  </app-waiting-spinner>

  <ng-container *ngIf="!!data.table && !!data.tableSlicedTransformed">

    <div class="pager-wrapper">
      <div *ngIf="data.settings.usepagination">
        <app-items-per-page
            [options]='data.settings.itemsPerPageOptions'
            [itemsPerPage]='data.itemsPerPage'
            (itemsPerPageChange)="itemsPerPageOnChange( $event )">
        </app-items-per-page>
        <app-pagination
            [itemsPerPage]='data.itemsPerPage'
            [pageNumber]='data.pageNumber'
            [rowSize]='data.tableFilteredRowSize'
            (pageNumberChange)="pageNumberOnChange( $event )">
        </app-pagination>
      </div>
    </div>

    <div class="margined-element">
      <span class="margined-element">
        {{data.tableFilteredRowSize}} items
      </span>
      <span class='reset-button'>
        <button mat-raised-button (click)="resetAll()">
          Reset All
        </button>
      </span>
    </div>

    <table
        matSort (matSortChange)="sortOnClick( $event )"
        class='data-table shadow3px vertical-line'>
      <thead *ngIf="!!data.headerValuesAll && !!data.selectorOptionsAll">
        <tr>
          <th *ngIf="data.settings.displayNo"
              class="cell-align-center">
            <div mat-sort-header="NoColumn">
              No.
            </div>
          </th>
          <th *ngFor='let headerSetting of data.settings.headerSettings; let colIndex = index'
              [class.cell-align-left]="headerSetting.align === 'l' "
              [class.cell-align-center]="headerSetting.align === 'c' "
              [class.cell-align-right]="headerSetting.align === 'r' " >
            <div *ngIf="headerSetting.sort then sortOn; else sortOff"></div>
            <ng-template #sortOn>
              <div [mat-sort-header]="colIndex.toString()">
                <app-header-cell
                  [headerSetting]="headerSetting"
                  [selectorOptions]="data.selectorOptionsAll[colIndex]"
                  [headerValue]="data.headerValuesAll[colIndex]"
                  (headerValueChange)="headerValueOnChange( colIndex, $event,
                                        data.indiceFiltered, data.tableFiltered )"
                  (reset)="reset( colIndex, data.indiceFiltered, data.tableFiltered )">
                </app-header-cell>
              </div>
            </ng-template>
            <ng-template #sortOff>
              <app-header-cell
                [headerSetting]="headerSetting"
                [selectorOptions]="data.selectorOptionsAll[colIndex]"
                [headerValue]="data.headerValuesAll[colIndex]"
                (headerValueChange)="headerValueOnChange( colIndex, $event,
                                        data.indiceFiltered, data.tableFiltered )"
                (reset)="reset( colIndex, data.indiceFiltered, data.tableFiltered )">
              </app-header-cell>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let line of data.tableSlicedTransformed; let rowIndex = index'>
          <td *ngIf="data.settings.displayNo"
              class="cell-align-center">
            {{data.indiceSliced[rowIndex]}}
          </td>
          <td *ngFor='let header of data.settings.headerSettings; let colIndex = index'
              [class.cell-align-left]="header.align=='l'"
              [class.cell-align-center]="header.align=='c'"
              [class.cell-align-right]="header.align=='r'" >

            <div *ngIf="header.isButton; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>
              <button mat-button color="primary"
                    (click)="cellOnClick(
                        data.table,
                        rowIndex,
                        colIndex,
                        data.headerValuesAll )">
                {{ line[colIndex] }}
              </button>
            </ng-template>
            <ng-template #elseBlock>
              {{ line[colIndex] }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="margined-element">
      <span> {{data.tableFilteredRowSize}} items </span>
    </div>

    <div>
      <div *ngIf="data.settings.usepagination" class="pager-wrapper">

        <app-items-per-page
            [options]='data.settings.itemsPerPageOptions'
            [itemsPerPage]='data.itemsPerPage'
            (itemsPerPageChange)="itemsPerPageOnChange( $event )">
        </app-items-per-page>
        <app-pagination
            [itemsPerPage]='data.itemsPerPage'
            [pageNumber]='data.pageNumber'
            [rowSize]='data.tableFilteredRowSize'
            (pageNumberChange)="pageNumberOnChange( $event )">
        </app-pagination>
      </div>
    </div>

  </ng-container>
</ng-container>
